@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Kaisei+Decol&display=swap');

* {
  @include ltr {
    font-family: 'Crimson Text';
    font-size: 1.6rem;
  }

  @include rtl {
    font-family: 'Kaisei Decol', sans-serif;
    font-size: 1.5rem;
  }
}
